WebServer/src/com/Logger.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="LoggerService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:8080/services/Logger?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="getLog">
<part name="parameters" element="tns:getLog"/>
</message>
<message name="getLogResponse">
<part name="parameters" element="tns:getLogResponse"/>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"/>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"/>
</message>
<portType name="Logger">
<operation name="add">
<input wsam:Action="http://service.com/Logger/addRequest" message="tns:add"/>
<output wsam:Action="http://service.com/Logger/addResponse" message="tns:addResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://service.com/Logger/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://service.com/Logger/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="getLog">
<input wsam:Action="http://service.com/Logger/getLogRequest" message="tns:getLog"/>
<output wsam:Action="http://service.com/Logger/getLogResponse" message="tns:getLogResponse"/>
</operation>
<operation name="ping">
<input wsam:Action="http://service.com/Logger/pingRequest" message="tns:ping"/>
<output wsam:Action="http://service.com/Logger/pingResponse" message="tns:pingResponse"/>
</operation>
</portType>
<binding name="LoggerPortBinding" type="tns:Logger">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ping">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoggerService">
<port name="LoggerPort" binding="tns:LoggerPortBinding">
<soap:address location="http://localhost:8080/services/Logger"/>
</port>
</service>
</definitions>